In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
df = pd.read_csv('data_set_3G.csv')

Afficher les 5 premiers enregistrement

In [47]:
df.head()

,Date,RBS Id,TRAFFIC PS(DL+UL)(Gbits),HSDPA Data Volume,HSUPA Data Volume,Cell Traffic Volume DL Speech (Erlang),CS CSSR,CS DROP Rate,# PS Call Setup SR,PS DROP Rate 2,Availability,Soft Handover,Irat CS Handover SR,IRAT PS 2,throughput
0,16-12-21,A,74.39,66.74,7.65,156.83,99.69,0.77,95.94,1.72,100.0,99.86,93.94,100,NaN
1,17-12-21,A,65.41,58.40,7.01,107.82,99.26,0.97,95.40,2.37,100.0,99.67,97.98,100,NaN
2,18-12-21,A,65.67,58.93,6.74,94.38,99.26,1.09,94.97,3.03,100.0,99.57,96.43,0,NaN
3,19-12-21,A,57.79,50.91,6.87,101.48,99.08,1.23,95.43,2.60,100.0,99.72,93.14,100,NaN
4,20-12-21,A,79.74,70.04,9.69,163.22,99.65,0.76,95.16,1.61,100.0,99.86,94.23,#DIV/0,NaN

Afficher les dimensions du dataset

In [48]:
df.shape

(225, 15)

Afficher les types des attributs

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 15 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date                                    225 non-null    object
 1   RBS Id                                  225 non-null    object
 2   TRAFFIC PS(DL+UL)(Gbits)                225 non-null    float64
 3   HSDPA Data Volume                       225 non-null    float64
 4   HSUPA Data Volume                       225 non-null    float64
 5   Cell Traffic Volume DL Speech (Erlang)  225 non-null    float64
 6   CS CSSR                                 225 non-null    float64
 7   CS DROP Rate                            225 non-null    float64
 8   # PS Call Setup SR                      225 non-null    float64
 9   PS DROP Rate 2                          225 non-null    float64
 10  Availability                            225 non-null    float64
 11  Soft Handover                           225 non-null    float64
 12  Irat CS Handover SR                     225 non-null    float64
 13  IRAT PS 2                               225 non-null    object
 14  throughput                              210 non-null    float64
dtypes: float64(12), object(3)
memory usage: 26.5+ KB

description des attributs numérique

In [50]:
df.describe()

,TRAFFIC PS(DL+UL)(Gbits),HSDPA Data Volume,HSUPA Data Volume,Cell Traffic Volume DL Speech (Erlang),CS CSSR,CS DROP Rate,# PS Call Setup SR,PS DROP Rate 2,Availability,Soft Handover,Irat CS Handover SR,throughput
count,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,210.000000
mean,75.451689,65.550267,9.901467,467.912844,99.709200,0.774756,97.146000,1.160667,99.677289,99.944933,95.946089,764.891000
std,15.384861,13.941946,1.930735,252.632039,0.312007,1.190462,1.452273,0.901603,0.853909,0.345521,1.425905,101.139858
min,47.290000,39.680000,6.740000,78.950000,98.290000,0.060000,89.490000,0.380000,93.750000,97.860000,87.640000,490.410000
25%,63.770000,54.870000,8.480000,157.500000,99.540000,0.130000,95.790000,0.560000,100.000000,99.760000,95.250000,686.115000
50%,73.520000,63.000000,9.690000,556.200000,99.890000,0.160000,97.840000,0.700000,100.000000,100.100000,96.120000,755.790000
75%,86.340000,75.420000,11.020000,672.440000,99.910000,0.850000,98.250000,1.550000,100.000000,100.120000,96.990000,834.200000
max,122.510000,104.830000,19.250000,846.220000,99.960000,4.990000,98.820000,4.730000,100.000000,102.170000,98.110000,1126.590000

Vérification si on a des valeurs manquantes

In [51]:
manque = df.isnull().sum()
manque

Date                                       0
RBS Id                                     0
TRAFFIC PS(DL+UL)(Gbits)                   0
HSDPA Data Volume                          0
HSUPA Data Volume                          0
Cell Traffic Volume DL Speech (Erlang)     0
CS CSSR                                    0
CS DROP Rate                               0
# PS Call Setup SR                         0
PS DROP Rate 2                             0
Availability                               0
Soft Handover                              0
Irat CS Handover SR                        0
IRAT PS 2                                  0
throughput                                15
dtype: int64

In [52]:
df["IRAT PS 2"].value_counts()

#DIV/0         159
100             30
0               14
50              14
66.66666667      4
33.33333333      1
40               1
75               1
25               1
Name: IRAT PS 2, dtype: int64

In [53]:
df.drop('IRAT PS 2', inplace=True,axis=1)
df

,Date,RBS Id,TRAFFIC PS(DL+UL)(Gbits),HSDPA Data Volume,HSUPA Data Volume,Cell Traffic Volume DL Speech (Erlang),CS CSSR,CS DROP Rate,# PS Call Setup SR,PS DROP Rate 2,Availability,Soft Handover,Irat CS Handover SR,throughput
0,16-12-21,A,74.39,66.74,7.65,156.83,99.69,0.77,95.94,1.72,100.0,99.86,93.94,NaN
1,17-12-21,A,65.41,58.40,7.01,107.82,99.26,0.97,95.40,2.37,100.0,99.67,97.98,NaN
2,18-12-21,A,65.67,58.93,6.74,94.38,99.26,1.09,94.97,3.03,100.0,99.57,96.43,NaN
3,19-12-21,A,57.79,50.91,6.87,101.48,99.08,1.23,95.43,2.60,100.0,99.72,93.14,NaN
4,20-12-21,A,79.74,70.04,9.69,163.22,99.65,0.76,95.16,1.61,100.0,99.86,94.23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,24-02-22,C,70.52,59.72,10.80,830.01,99.91,0.13,98.24,0.56,100.0,100.09,97.84,728.72
221,25-02-22,C,75.61,63.60,12.00,817.77,99.92,0.12,98.05,0.59,100.0,100.06,95.18,710.86
222,26-02-22,C,64.78,54.70,10.08,688.96,99.91,0.10,98.21,0.65,100.0,100.11,97.16,706.49
223,27-02-22,C,58.11,50.09,8.02,556.20,99.90,0.13,98.22,0.57,100.0,100.08,97.13,719.90
224,28-02-22,C,58.69,50.10,8.59,784.59,99.90,0.16,97.98,0.71,100.0,100.13,97.59,620.85

In [54]:
df.isnull().sum()

Date                                       0
RBS Id                                     0
TRAFFIC PS(DL+UL)(Gbits)                   0
HSDPA Data Volume                          0
HSUPA Data Volume                          0
Cell Traffic Volume DL Speech (Erlang)     0
CS CSSR                                    0
CS DROP Rate                               0
# PS Call Setup SR                         0
PS DROP Rate 2                             0
Availability                               0
Soft Handover                              0
Irat CS Handover SR                        0
throughput                                15
dtype: int64

In [55]:
median = df["throughput"].median()
df["throughput"].replace(np.nan, median, inplace=True)
x = df.isnull().sum()
print('Après de remplacer les valeurs manquantes du throughput \n ', x)

Après de remplacer les valeurs manquantes du throughput
  Date                                      0
RBS Id                                    0
TRAFFIC PS(DL+UL)(Gbits)                  0
HSDPA Data Volume                         0
HSUPA Data Volume                         0
Cell Traffic Volume DL Speech (Erlang)    0
CS CSSR                                   0
CS DROP Rate                              0
# PS Call Setup SR                        0
PS DROP Rate 2                            0
Availability                              0
Soft Handover                             0
Irat CS Handover SR                       0
throughput                                0
dtype: int64

In [56]:
df['RBS Id'].value_counts()

A    75
B    75
C    75
Name: RBS Id, dtype: int64

In [57]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['RBS Id'] = label_encoder.fit_transform(df['RBS Id'])
df['RBS Id'].unique()
df['RBS Id'].value_counts()

0    75
1    75
2    75
Name: RBS Id, dtype: int64

In [62]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date                                    225 non-null    datetime64[ns]
 1   RBS Id                                  225 non-null    int32
 2   TRAFFIC PS(DL+UL)(Gbits)                225 non-null    float64
 3   HSDPA Data Volume                       225 non-null    float64
 4   HSUPA Data Volume                       225 non-null    float64
 5   Cell Traffic Volume DL Speech (Erlang)  225 non-null    float64
 6   CS CSSR                                 225 non-null    float64
 7   CS DROP Rate                            225 non-null    float64
 8   # PS Call Setup SR                      225 non-null    float64
 9   PS DROP Rate 2                          225 non-null    float64
 10  Availability                            225 non-null    float64
 11  Soft Handover                           225 non-null    float64
 12  Irat CS Handover SR                     225 non-null    float64
 13  throughput                              225 non-null    float64
dtypes: datetime64[ns](1), float64(12), int32(1)
memory usage: 23.9 KB

In [ ]:
df.to_csv('')